<!DOCTYPE html>
<html>
	<head>
		<title>MQTT Labyrinth Router Configuration</title>
		<link href="/style.css" rel="stylesheet" type="text/css">
	</head>
	<body >
		<h1>MQTT Labyrinth Router Configuration</h1>
		<form action="?a=save" method="post">
		    <table class="table">
		    	<tbody>
		    		<tr>
		    			<th colspan="2"><h4>WiFi Configuration</h4></th>
		    		</tr>
		    		<tr>
		    			<th>SSID</th>
		    			<td><input class="roundTop" type="text" name="wifiSSID" value="<!--#wssid-->" /></td>
		    		</tr>
		    		<tr>
		    			<th>Key / password</th>
		    			<td><input class="roundBotton" type="password" name="wifiPassword" value="<!--#wpass-->" /></td>
		    		</tr>
		    	</tbody>
		    </table>
	    </form>
	</body>
</html>

